.title-heading {
  border-top: 1px solid black;
}

@media only screen and (max-width: 576px) {
  .title-heading {
    border-top: none;
  }
}

.title {
  height: 250px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(./../../../assets/home/zwei-goldene-eheringe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 56%;
}

.image-section {
  img {
    height: 200px;
    width: auto;
  }
  .image-section-one {
    height: 200px;
    width: auto;
  }
  .image-section-two {
    height: 200px;
    width: auto;
  }
  .image-section-three {
    height: 200px;
    width: auto;
  }
}


.mehrErfahrenOne{
  transition: opacity 0.5s;
  opacity: 0;
}
.mehrErfahrenTwo{
  transition: opacity 0.5s;
  opacity: 0;
}
.mehrErfahrenThree{
  transition: opacity 0.5s;
  opacity: 0;
}
.mehrErfahrenFour{
  transition: opacity 0.5s;
  opacity: 0;
}

.mehrErfahrenBoxOne:hover{
  .mehrErfahrenBoxOneSvg{
    transform: scale(1.2);
    transition: 0.3s;
  }
  .mehrErfahrenOne{
    opacity: 1;
    transition: 0.5s;
  }
}
.mehrErfahrenBoxTwo:hover{
  .mehrErfahrenBoxTwoSvg{
    transform: scale(1.2);
    transition: 0.3s;
  }
  .mehrErfahrenTwo{
    opacity: 1;
    transition: 0.5s;
  }
}
.mehrErfahrenBoxThree:hover{
  .mehrErfahrenBoxThreeSvg{
    transform: scale(1.2);
    transition: 0.3s;
  }
  .mehrErfahrenThree{
    opacity: 1;
    transition: 0.5s;
  }
}

.mehrErfahrenBoxFour:hover{
  .mehrErfahrenBoxFourSvg{
    transform: scale(1.2);
    transition: 0.3s;
  }
  .mehrErfahrenFour{
    opacity: 1;
    transition: 0.5s;
  }
}